<div class="main-wrap">
  <div class="container">
    <div class="context">
      <div class="left-side">
        <div class="button-bar">
          <button class="button" routerLink="/auth/login" routerLinkActive="active">Login</button>
          <button class="button" routerLink="/auth/sign-up" routerLinkActive="active">Sign Up</button>
        </div>

        <div class="outlet-wrap">
          <router-outlet></router-outlet>
        </div>

      </div>
      <div class="right-side">
        <img
          src="https://img.freepik.com/free-vector/online-shopping-concept-illustration_114360-1084.jpg?size=626&ext=jpg"
          alt="">
      </div>
    </div>
  </div>
</div>
