<div class="container">
  <br>
  <br>
  <p class="alert alert-dark">Customer Detail</p>
  <div class="row">
    <div class="col-1">
      <select name="" id="" class="form-control">
        <option value="#">Test 1</option>
        <option value="#">Test 1</option>
        <option value="#">Test 1</option>
      </select>
    </div>
    <div class="col-4">
      <input type="text" class="form-control" disabled>
    </div>
    <div class="col-4">
      <input type="text" class="form-control" disabled>
    </div>
    <div class="col-3">
      <input type="text" class="form-control" [disabled]="true">
    </div>
  </div>

  <hr>
<p class="alert alert-dark">Item Detail</p>
  <div class="row">
    <div class="col-1">
      <select name="" id="" class="form-control">
        <option value="#">Test</option>
        <option value="#">Test</option>
        <option value="#">Test</option>
      </select>
    </div>
    <div class="col-4">
      <input type="text" class="form-control" disabled>
    </div>
    <div class="col-3">
      <input type="text" class="form-control" disabled>
    </div>
    <div class="col-3">
      <input type="text" class="form-control" disabled>
    </div>
    <div class="col-1">
      <input type="number" class="form-control">
    </div>

  </div>
  <hr>
</div>
